volumes:
  grav-data:
    driver: local
    driver_opts:
      type: none
      device: /data/portainer/grav
      o: bind

services:
  grav:
    build: ./
    networks:
      - frontend
    labels:
        - "traefik.enable=true"
        - "traefik.http.routers.grav.rule=Host(`blog.lucasmasse.net`)"
        - "traefik.http.routers.grav.entrypoints=websecure"
        - "traefik.http.routers.grav.tls=true"
        - "traefik.http.routers.grav.tls.certresolver=letencrypt"
        - "traefik.http.services.grav.loadbalancer.server.port=80"
        - "traefik.docker.network=frontend"
    volumes:
      - grav-data:/var/www/html

  networks:
    frontend:
      name: frontend